#s-about {
  padding: $gap-96 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;

      @include responsive-desktop {
        flex-wrap: wrap;
        gap: $gap-40;
      }

      .container-heading-title {
        width: 41%;
        height: auto;
        display: flex;
        flex-direction: column;

        @include responsive-desktop {
          width: 100%;
        }

        span {
          margin: $gap-24 0;
          display: flex;
          align-items: center;

          img {
            width: 32px;
            border-radius: 100%;
            margin-right: -7px;
          }

          svg {
            width: 40px;
            margin-left: -7px;
          }

          @include responsive-tablet {
            width: 100%;
          }
        }

        h2 {
          font-size: 5.6rem;
          font-weight: 500;
          margin: $gap-8 0;
          font-family: $font-title;
          width: 80%;

          @include responsive-tablet {
            font-size: 4rem;
            width: 100%;
          }

          b {
            color: $color-eplus;
            font-weight: 600;
          }
        }
      }

      div:nth-child(2) {
        width: 55%;

        @include responsive-desktop {
          width: 100%;
        }

        p {
          font-size: 2.2rem;
          color: $color-gray;
          line-height: 160%;
          margin: $gap-40 0;

          @include responsive-desktop {
            font-size: 1.8rem;
            margin: $gap-24 0;
          }
        }
      }
    }
  }
}
