#s-advantage {
  padding: $gap-96 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .cards-advantage {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $gap-32;

    article {
      width: 20%;
      flex-grow: 1;
      border-radius: 6px;

      @include responsive-desktop {
        width: 48%;
        min-height: auto;
      }

      @include responsive-tablet {
        min-height: auto;
      }

      div {
        background: $color-dark-200;
        display: inline-block;
        border-radius: 4px;
        padding: 8px;
        border: 1px solid $color-dark-400;

        img {
          width: 32px;
          background: #121214;
          color: white;
          padding: 20px;
          border-radius: 4px;
        }
      }

      h2 {
        font-size: 2.4rem;
        font-weight: 500;
        margin: $gap-32 0px;
      }

      p {
        font-size: 1.6rem;
        line-height: 160%;
        color: $color-white;
      }
    }
  }
}
