#s-depositions {
  padding: $gap-96 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .container-depositions {
    display: flex;
    width: 100%;
    gap: $gap-32;

    @include responsive-tablet {
      flex-wrap: wrap;
    }

    .text-depositions {
      width: 50%;
      height: 350px;

      position: sticky;
      top: 100px;

      @include responsive-tablet {
        width: 100%;
      
      }

      @include responsive-tablet {
        position: static;
      }

      h3 {
        font-size: 1.8rem;
        color: $color-eplus;
        text-transform: uppercase;
        margin-bottom: $gap-8;
      }

      h4 {
        font-size: 4.8rem;
      }

      span {
        margin: $gap-40 0;
        display: flex;
        align-items: center;

        img {
          width: 32px;
          border-radius: 100%;
          margin-right: -8px;
        }

        svg {
          width: 40px;
          margin-left: -8px;
        }

        @include responsive-tablet {
          width: 100%;
        }

        p {
          font-size: 1.8rem;
          font-weight: 400;
          margin-left: $gap-24;
          font-family: $font-title;
        }
      }
    }

    .depositions {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 50px;

      @include responsive-tablet {
        width: 100%;
        gap: $gap-24;
      }

      article {
        background-color: $color-dark-200;
        border: 1px solid $color-dark-400;
        width: 100%;
        padding: $gap-48 $gap-32;

        position: sticky;
        top: 100px;
        flex: 1;

        @include responsive-tablet {
          position: static;
        }

        p {
          font-size: 2.4rem;
          line-height: 150%;
          font-style: italic;

          @include responsive-desktop {
            font-size: 1.8rem;
          }
        }

        div {
          display: flex;
          align-items: center;
          gap: $gap-16;
          margin-top: $gap-40;

          img {
            width: 56px;
          }

          span {
            h3 {
              font-size: 2rem;
              margin-bottom: $gap-8;
            }

            a {
              font-size: 1.6rem;
              color: $color-eplus;
            }
          }
        }
      }
    }
  }

  h2 {
    font-size: 4rem;
    font-weight: 400;

    @include responsive-desktop {
      max-width: 100%;
      font-size: 3.2rem;
    }

    b {
      color: $color-primary;
      font-weight: 400;
    }
  }
}
