#s-eplus {
  padding: $gap-96 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $gap-32;

    border-bottom: 4px solid #899bff;
    background: linear-gradient(
      180deg,
      rgba(11, 12, 20, 0) 0%,
      rgba(137, 155, 255, 0.15) 100%
    );
    padding: $gap-56;

    @include responsive-desktop {
      flex-wrap: wrap;
      justify-content: center;
      gap: $gap-56;
      padding: $gap-40 $gap-16;
    }

    div {
      display: flex;
      align-items: center;
      gap: $gap-40;

      img {
        width: 48px;

        @include responsive-desktop {
          display: none;
        }
      }

      h2 {
        max-width: 500px;
        font-size: 3.2rem;
        line-height: 120%;
        font-weight: 400;

        @include responsive-desktop {
          font-size: 2.4rem;
          text-align: center;
        }

        @include responsive-tablet {
          max-width: 100%;
        }

        b {
          font-weight: 400;
          color: $color-eplus;
        }
      }
    }

    a {
      button {
        padding: $gap-16 $gap-40;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.8rem;
        color: $color-dark;
        background-color: transparent;
        cursor: pointer;
        background: $color-primary;

        &:hover {
          background: $color-primary-hover;
        }

        @include responsive-tablet {
          width: 100%;
        }
      }
    }

    p {
      color: $color-eplus;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: $gap-16;
      text-align: center;

      @include responsive-desktop {
        font-size: 1.4rem;
      }
    }
  }
}
