#s-faq {
  padding: $gap-96 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .container-faq {
    width: 100%;
    display: flex;
    gap: 80px;

    @include responsive-desktop {
      flex-wrap: wrap;
    }

    > div {
      @include responsive-desktop {
        width: 100%;
      }
    }

    > div:nth-child(1) {
      h2 {
        font-size: 3.2rem;
        margin-bottom: $gap-32;
        font-weight: 400;
      }

      p {
        font-size: 1.8rem;

        a {
          color: $color-eplus;
        }
      }

      .card-faq {
        background-color: $color-dark-200;
        border: 1px solid $color-dark-400;
        margin: $gap-40 0;
        padding: $gap-24;
        line-height: 160%;
        font-weight: 400;
        border-radius: 6px;
        font-size: 1.6rem;
      }
    }
  }

  .accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap-24;
    border-bottom: 1px solid $color-dark;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-bottom: $gap-24;
    width: 100%;

    &:hover {
      color: $color-primary;
    }

    h3 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 150%;
    }

    .icon {
      font-size: 3.2rem;
      font-weight: 300;
      color: $color-primary;
    }
  }

  .panel {
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease;
    border-bottom: 1px solid $color-dark-400;
    margin-bottom: $gap-24;

    p {
      margin: 0 0 $gap-40 0px;
      font-size: 2rem;
      color: $color-gray;
      line-height: 160%;
    }

    a {
      color: $color-eplus;
    }
  }

  .open {
    color: $color-eplus;

    &:hover {
      color: $color-eplus;
    }

    .icon {
      color: $color-eplus;
    }
  }
}
