footer {
  width: 100%;
  height: auto;
  padding: $gap-80 0px;
  background-color: $color-white;
  border-bottom: 12px solid $color-primary;

  .grid-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h3 {
    font-size: 2rem;
    background-color: $color-dark;
    padding: $gap-8 $gap-24;
    margin-bottom: $gap-32;
    text-transform: uppercase;
    border-radius: 4px;
  }

  h2 {
    font-size: 4.8rem;
    color: $color-dark;

    @include responsive-desktop {
      text-align: center;
      font-size: 3.2rem;
    }
  }

  p {
    margin: $gap-16 0 $gap-56 0;
    text-align: center;
    width: 35%;
    font-size: 2rem;
    color: $color-dark-200;
    font-weight: 500;
    line-height: 150%;

    @include responsive-desktop {
      width: 100%;
    }
  }

  a {
    button {
      padding: 20px $gap-48;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
      border-radius: 6px;
      color: #fff;
      background-color: transparent;
      cursor: pointer;
      background: $color-primary;

      &:hover {
        background: $color-primary-hover;
      }

      @include responsive-tablet {
        width: 100%;
      }
    }
  }
}
