#s-home {
  padding: $gap-96 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
    margin-top: $gap-64;
  }

  .grid-layout {
    #container-home {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $gap-96;

      @include responsive-desktop {
        flex-wrap: wrap;
        gap: $gap-48;
      }

      #info-main {
        width: 50%;

        @include responsive-desktop {
          width: 100%;
        }

        span {
          display: flex;
          align-items: center;
          margin-bottom: $gap-40;

          img {
            width: 32px;
            border-radius: 100%;
            margin-right: -8px;
          }

          svg {
            width: 40px;
            margin-left: -8px;
          }

          @include responsive-tablet {
            width: 100%;
          }

          p {
            font-size: 1.8rem;
            font-weight: 400;
            margin-left: $gap-24;
            font-family: $font-title;
          }
        }

        h1 {
          font-size: 5.6rem;
          font-weight: 500;
          width: 650px;

          @include responsive-desktop {
            width: 100%;
            font-size: 4rem;
          }

          b {
            color: $color-primary;
            font-weight: 500;
          }
        }

        > p {
          max-width: 650px;
          margin-top: $gap-32;
          font-size: 3rem;
          line-height: 160%;
          color: $color-gray;

          @include responsive-desktop {
            width: 100%;
            font-size: 2rem;
          }
        }
      }

      article {
        background-color: $color-white;
        color: $color-dark;
        width: 50%;
        height: auto;
        padding: $gap-40;
        border-radius: 6px;

        @include responsive-desktop {
          width: 100%;
          padding: $gap-24;
        }

        div:nth-child(1) {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: $gap-24;

          h2 {
            background-color: $color-dark;
            color: $color-white;
            font-size: 1.8rem;
            font-weight: 500;
            padding: $gap-8 $gap-24;
            text-transform: uppercase;
            border-radius: 4px;
          }

          p {
            font-size: 1.8rem;
            color: $color-dark-200;
            font-weight: 500;
          }
        }

        div:nth-child(2) {
          margin: $gap-56 0px;

          h4 {
            font-size: 6.4rem;
            font-weight: 600;

            @include responsive-tablet {
              font-size: 5.6rem;
            }
          }

          h3 {
            font-size: 2.4rem;
            color: $color-dark-200;
            font-weight: 600;
            margin-bottom: $gap-8;

            span {
              text-decoration: line-through;
            }
          }
        }

        a {
          background: #6477e7;
          padding: 20px;
          display: flex;
          justify-content: center;
          border-radius: 6px;

          &:hover {
            background: $color-primary-hover;
          }

          button {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.8rem;
            color: #fff;
            background-color: transparent;
            cursor: pointer;
          }
        }

        #info-pay {
          text-align: center;
          font-size: 1.8rem;
          color: $color-dark-200;
          margin-top: $gap-24;
          font-weight: 500;
        }
      }
    }
  }
}
