#s-jobs {
  padding: $gap-40 0px;

  @keyframes rotation-jobs {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  @include responsive-desktop {
    display: none;
  }

  div {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    height: 64px;
    background: $color-white;
    display: flex;
    align-items: center;

    h2 {
      display: inline-block;
      padding-left: $gap-72;
      animation: rotation-jobs 12s linear infinite;
      font-weight: 500;
      font-size: 2.4rem;
      text-transform: uppercase;
      color: $color-dark;

      @include responsive-tablet {
        font-size: 1.8rem;
        padding-left: $gap-48;
      }
    }
  }
}
