#s-menu {
  width: 100%;
  height: auto;
  padding: $gap-40 0;
  margin-top: $gap-64;

  @include responsive-desktop {
    display: none;
  }

  .grid-layout {
    @include flexbox-between();
    flex-wrap: wrap;

    div:nth-child(1) {
      img {
        width: 32px;
      }
      @include responsive-tablet {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $gap-40;
      }
    }

    div:nth-child(2) {
      display: flex;
      align-items: center;
      gap: $gap-48;

      @include responsive-tablet {
        width: 100%;
      }

      nav {
        ul {
          display: flex;
          align-items: center;
          gap: $gap-48;

          li {
            a {
              font-size: 2rem;
              color: $color-white;
              font-weight: 400;

              &:hover {
                color: $color-eplus;
              }
            }
          }
        }
      }

      > a {
        padding: $gap-16 $gap-32;
        text-align: center;
        background: $color-dark;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          inset: -2px;
          z-index: -1;
          background: $color-primary;
        }

        @include responsive-tablet {
          width: 100%;
        }

        button {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.6rem;
          color: $color-white;
          background-color: transparent;
          cursor: pointer;
        }

        &:hover {
          background: $color-primary;
        }
      }
    }
  }
}
