#s-notion-students {
  padding: $gap-96 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .notion-students-order {
    div:nth-child(1) {
      order: 2;
    }
  }

  article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;

    @include responsive-tablet {
      flex-wrap: wrap;
    }

    div:nth-child(1) {
      width: 50%;

      img {
        width: 100%;
      }

      @include responsive-tablet {
        width: 100%;
      }
    }

    div:nth-child(2) {
      width: 50%;

      @include responsive-tablet {
        width: 100%;
      }
    }
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 500;

    @include responsive-desktop {
      font-size: 3.2rem;
      width: 100%;
    }
  }

  p {
    font-size: 2rem;
    color: $color-gray;
    line-height: 160%;
    margin: $gap-32 0;

    @include responsive-desktop {
      font-size: 2rem;
      width: 100%;
    }
  }
}
