#s-salary {
  padding: $gap-96 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    > h4 {
      color: $color-white;
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: 16px;
      display: inline-block;

      @include responsive-desktop {
        font-size: 2rem;
      }
    }

    > h2 {
      font-size: 4.8rem;
      font-weight: 600;
      margin-bottom: $gap-56;

      @include responsive-desktop {
        max-width: 100%;
        font-size: 4rem;
      }

      b {
        color: $color-secondary;
        font-weight: 600;
      }
    }

    .salary-stack {
      margin: 48px 0;

      h3 {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 16px;
        color: $color-secondary;
      }

      .jr {
        width: 30%;
        background-color: #8e7ad0;

        @include responsive-desktop {
          width: 70%;
        }
      }

      .pl {
        width: 60%;
        background-color: #7361b0;

        @include responsive-desktop {
          width: 80%;
        }
      }

      .sr {
        width: 90%;
        background-color: #4d3b87;

        @include responsive-desktop {
          width: 100%;
        }
      }

      .value-bar {
        padding: 20px 32px;

        p {
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }

    span {
      h5 {
        font-size: 2rem;
      }

      p {
        margin-top: 16px;
        font-size: 2rem;
        width: 50%;
        font-weight: 300;

        @include responsive-desktop {
          width: 100%;
        }
      }
    }
  }
}
