#s-sample {
  padding: $gap-96 0px;

  .grid-layout {
    display: flex;

    div:nth-child(1) {
      width: 60%;

      @include responsive-desktop {
        width: 100%;
      }

      div {
        margin-top: $gap-48;
        display: flex;
        flex-wrap: wrap;
        gap: $gap-32;
      }

      a,
      button {
        font-size: 1.8rem;
        color: $color-white;
        cursor: pointer;

        @include responsive-mobile {
          width: 100%;
          text-align: center;
        }
      }

      a {
        padding: 20px $gap-48;
        border-radius: 6px;
      }

      a:nth-child(1) {
        background: #6477e7;

        &:hover {
          background-color: $color-primary-hover;
        }

        button {
          background-color: transparent;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }

    div:nth-child(2) {
      width: 40%;

      svg {
        width: 100%;
      }

      @include responsive-desktop {
        display: none;
      }
    }
  }

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  h3 {
    color: $color-eplus;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: $gap-16;
  }

  h2 {
    font-size: 4rem;
    max-width: 90%;
    font-weight: 400;

    @include responsive-desktop {
      max-width: 100%;
      font-size: 3.2rem;
    }

    b {
      color: $color-primary;
      font-weight: 400;
    }
  }

  ul {
    margin-top: $gap-48;

    li {
      display: flex;
      align-items: center;
      gap: $gap-24;
      margin: $gap-16 0px;

      svg {
        width: 32px;
        min-width: 32px;
        max-width: 32px;
      }

      p {
        font-size: 1.8rem;
        line-height: 180%;
      }
    }
  }
}
