#s-start {
  padding: $gap-96 0px;
  text-align: center;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    h2 {
      font-size: 4rem;
      font-weight: 400;
      text-align: center;
      margin: 0 auto $gap-24 auto;

      @include responsive-desktop {
        font-size: 3.2rem;
      }

      b {
        color: $color-eplus;
        font-weight: 400;
      }
    }

    .sub-title {
      font-size: 2.2rem;
      line-height: 160%;
      width: 70%;
      margin: 0 auto;

      @include responsive-desktop {
        width: 100%;
        font-size: 2rem;
      }

      b {
        color: $color-white;
        background-color: $color-primary;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 5px 8px;
        border-radius: 2px;
        text-transform: uppercase;
        margin-right: 6px;
      }
    }

    h3 {
      margin: $gap-48 0;
      font-size: 2.4rem;
      font-weight: 500;
      text-align: center;
    }

    ul {
      background-color: #fff;
      border-radius: 6px;
      padding: 24px;
      max-width: 70%;

      display: flex;
      flex-direction: column;
      text-align: left;

      @include responsive-tablet {
        max-width: 100%;
      }

      margin: 0 auto $gap-48 auto;

      li {
        font-size: 2rem;
        font-weight: 500;
        color: #000;
        border-bottom: 3px solid #ccc;
        padding: 16px 0;

        @include responsive-desktop {
          font-size: 1.8rem;
        }

        &:nth-child(1) {
          padding-top: 0;
        }

        &:nth-last-child(1) {
          border: none;
          padding-bottom: 0;
        }

        b {
          color: #ff0000;
          text-decoration: line-through;
        }

        span {
          font-weight: 700;
        }
      }
    }

    h4 {
      font-size: 3.2rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 24px;

      @include responsive-desktop {
        font-size: 2.4rem;
      }

      b {
        color: #ff0000;
        text-decoration: line-through;
      }
    }

    .value-card {
      font-size: 4.8rem;
      font-weight: 600;

      @include responsive-desktop {
        font-size: 3.2rem;
      }

      b {
        color: $color-eplus;
        font-weight: 600;
      }
    }

    a {
      button {
        background: $color-primary;
        padding: 20px 48px;
        border-radius: 6px;
        margin-top: 48px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8rem;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: $color-primary-hover;
        }
      }
    }
  }
}
