#s-technologies {
  padding: $gap-96 0px;

  .technologies-disable {
    opacity: 0.5;
    cursor: no-drop;
  }

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  #next-icon {
    width: $gap-56;
  }

  h4 {
    color: $color-eplus;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: $gap-16;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 4rem;
    max-width: 55%;
    font-weight: 400;
    margin: 0 auto $gap-56 auto;

    @include responsive-desktop {
      max-width: 100%;
      font-size: 3.2rem;
    }

    b {
      color: $color-primary;
      font-weight: 400;
    }
  }
}
