#s-technologies {
  padding: $gap-96 0px;

  .technologies-disable {
    opacity: 0.5;
    cursor: no-drop;
  }

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  #next-icon {
    width: 56px;
  }

  h2 {
    font-size: 4rem;
    max-width: 50%;
    font-weight: 500;
    text-align: center;
    margin: 0 auto $gap-56 auto;

    @include responsive-desktop {
      max-width: 100%;
      font-size: 2.4rem;
    }

    b {
      color: $color-primary;
      font-weight: 500;
    }
  }
}
