@import "./variables", "./reset", "./menu", "./home", "./cards", "./advantage",
  "./technologies", "./about", "./salary", "./notion-students", "./depositions",
  "./jobs", "./start", "./eplus", "./faq", "./footer", "./sample";

#info-promotion {
  background: $color-eplus;

  width: 100%;
  height: auto;

  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  p {
    color: $color-dark;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.grid-layout {
  @include grid-layout();
}
